.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; 
    padding-right: 5vw;
    /* overflow: hidden; */
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 15vw;
    height: 50vh; 
    box-shadow: 0px 0px 4px 1px rgba(48, 81, 104, 0.25);
    border-radius: 8px;
    padding: 20px;
        position: absolute;
    z-index: 2;
    background: white;
}

.loginInput{
    border-radius: 4px;
    border: 1px solid #ccc; 
    width: 100%; 
    padding: 10px;
}

.login > button {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #0069d9;
    }

    &:active {
      background-color: #0056b3;
    }}
    

    .circle{
        position: absolute;
        width: 1px;
        height:  1px;
        border-radius: 50%;
        background-color: #007bff;
        bottom: 0;
        left: 0;
        box-shadow: 0 0 600px 600px rgba(54, 113, 255, .5);
        z-index: 1;
    }

    .circle2{
        position: absolute;
        width: 1px;
        height:  1px;
        border-radius: 50%;
        background-color: #007bff;
        top: 0;
        right: 0;
        box-shadow: 0 0 600px 600px rgba(255, 54, 178, 0.5);
        z-index: 1;
    }

    h1{
        color: #007bff;
    }