.wrapper {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.table {
  display: flex;
  justify-content: center;
  align-items: start;
  flex: 1;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
}

.filter>select,
.filter>input {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

select:focus,
input:focus {
  background-color: aliceblue;
  border: 1px solid #007bff;
}

select:hover,
input:hover {
  border: 1px solid #007bff;
  background-color: aliceblue;
  cursor: pointer;
}


.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
}

.table th,
.table td {
  word-break: pre-line;
  width: 200px;
  height: 80px;
  padding: 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f7f7f7;
}

.table tr:hover {
  background-color: #e9e9e9;
}

.row:hover {
  cursor: pointer;
}

.row {
  height: 80px;
}

.actions {
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  border-bottom: 1px solid #ddd;

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #0069d9;
    }

    &:active {
      background-color: #0056b3;
    }
  }
}